img{
	height: 50px;
	opacity: 0.5;
}

body{
	font-family: 'Fredoka One', cursive;
	color: white;
	background-color: lightcyan;
	background-image: url(https://static01.nyt.com/images/2018/11/11/travel/11yosemite2/merlin_145320882_abb47a0c-1a15-402a-8d30-9dcb7073e46b-superJumbo.jpg);
}

h1{
	font-size: 40px;
}
p{font-size: 20px;
	font-weight: bold;
}

main{text-align: right;}

a{color:white;}

nav{
	/*background-color: black
	opacity:0.5;*/
	background-color: rgba(0,0,0,0.5);
}